@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 86 103 211;
  --on-primary: 255 255 255;
  --on-primary-variant: 180 187 227;
  --surface: 236 254 255;
  --on-surface: 8 47 73;
  --on-surface-variant: 100 121 135;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    color-scheme: dark;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
